<div class="container-fluid">
    <h1 style="text-align: center"> {{module.name}}</h1>
    <br>
    <div class="btn-group pull-right" ng-if="module.lecture == loggedInUser.id">
        <button type="button" ng-if="edit" class="btn btn-default btn-sm btn-space" ng-click="setEdit(false)">Finish</button>
        <button type="button" ng-if="!edit" class="btn btn-default btn-sm btn-space" ng-click="setEdit(true)">Edit</button>
        <button type="button" ng-if="studentView == 'lecture'" class="btn btn-default btn-sm btn-space" ng-click="setStudentView('student')">Student</button>
        <button type="button" ng-if="studentView == 'student'" class="btn btn-default btn-sm btn-space" ng-click="setStudentView('lecture')">Lecture</button>
        <a class="btn btn-sm btn-primary btn-space" data-toggle="collapse" data-target="#importSections">Import Sections</a>
        <a class="btn btn-sm btn-primary btn-space" data-toggle="collapse" data-target="#newSectionDropDown">Add New Sections</a>
        <a class="btn btn-sm btn-primary btn-space" data-toggle="collapse" data-target="#enrollStudent">Enroll/Remove Student</a>
    </div>
    <br>
    <p></p>
    <div ng-if="loggedInUser.role == 'lecture'">
        <div class="row">
            <div class="col-md-12">
                <div ng-repeat="section in module.sections | orderBy:'locNum'">
                    <div class="panel panel-primary">
                        <div class="btn-group pull-right" ng-if="module.lecture == loggedInUser.id && edit ">
                            <a class="btn btn-danger  btn-sm btn-space" ng-click="deleteSection(section._id)">Delete</a>
                            <a class="btn btn-danger  btn-sm btn-space" ng-click="hideSec(section._id)" ng-show="!section.hidden">Hide</a>
                            <a class="btn btn-primary btn-sm btn-space" ng-click="showSec(section._id)" ng-show="section.hidden">Show</a>
                            <a class="btn btn-warning btn-sm btn-space" ng-click="unlink(section.sectionDetails._id)"> Unlink</a>
                            <a class="btn btn-primary btn-sm btn-space" data-toggle="collapse" data-target="#demo">Upload</a>
                        </div>
                        <div class="panel-heading">
                            <h1 class="panel-title"> 
                            <!-- {{section._id}}     -->
                            {{section.sectionDetails.name}}

                        </h1>
                        </div>
                        <div class="panel-body">
                            <!-- {{section.locNum}} -->
                            {{section.sectionDetails.info}}
                            <hr>
                            <ul>
                                <div ng-repeat="file in section.sectionDetails.files | orderBy:'+name'">
                                    <li>
                                        <a href="/api/sections/downloadFile/{{file._id}}" download="{{file.orgName}}">
                                            <img ng-src="./data/png/{{file.type}}.png" height="30px" /> {{file.orgName}} / {{file.hidden}}</a>
                                        <div ng-if="edit">
                                            <a ng-if="file.hidden" class="btn btn-primary btn-xs btn-space" ng-click="showFile(file._id, section.sectionDetails._id)">Show</a>
                                            <a ng-if="!file.hidden" class="btn btn-danger btn-xs btn-space" ng-click="hideFile(file._id, section.sectionDetails._id)">Hide</a>
                                            <a class="btn btn-danger btn-xs btn-space" ng-click="removeFile(file._id, section.sectionDetails._id)">Delete</a>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                            <div id="demo" class="collapse" ng-if="module.lecture == loggedInUser.id">
                                <hr>
                                <h4> Upload a file </h4>
                                <form id="photo-data" method="post" action="/api/sections/upload" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="image" class="control-label">Photo upload</label>
                                        <input type="file" class="form-control" name="sectionFile" ng-model="data.file" required="true">
                                        <input type="hidden" class="form-control" name="section_id" value="{{section.sectionDetails._id}}" ng-model="data.id" />
                                        <input type="hidden" class="form-control" name="module_id" value="{{module._id}}" ng-model="data.id" />
                                        <div class="form-group">
                                            <div ng-init="data.hidden='true'">
                                                <label>Hidden :</label>
                                                <label class="radio-inline">
                                                    <input type="radio" ng-model="data.hidden" name="hidden" value="true"> Yes
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" ng-model="data.hidden" name="hidden" value="false"> No
                                                </label>
                                                <br/>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button id="submit-photo" type="submit" class="btn btn-primary">Upload</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="newSectionDropDown" class="collapse">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Add new Section</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="addSection(newSection)">
                            <div class="form-group form-inline">
                                <label>Name: </label>
                                <input type="text" name="name" class="form-control" ng-model="newSection.name" required>
                                <br>
                            </div>
                            <div class="form-group form-inline">
                                <label>Information: </label>
                                <textarea type="text" name="name" class="form-control" ng-model="newSection.info" required></textarea>
                                <br>
                            </div>
                            <div class="form-group">
                                <div ng-init="newSection.hidden='true'">
                                    <label>Hidden :</label>
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="newSection.hidden" value="true" checked> Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="newSection.hidden" value="false"> No
                                    </label>
                                    <br/>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Create new Section</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="importSections" class="collapse">
            <div class="col-md-12">
                <form>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Import Sections</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-3 pull-right">
                                    <label>Show</label>
                                    <select ng-model="numLimit">
                                        <div class="form-control input-sm">
                                            <option selected="selected" value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </div>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" placeholder="Search " ng-model="searchText">
                                </div>
                            </div>
                            <hr>
                            <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%" class="posts">
                                <thead>
                                    <tr>
                                        <th>Module Name</th>
                                        <th>Section Name</th>
                                        <th>Import</th>
                                        <th>Hidden</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in mySections | filter:searchText | orderBy:orderProp | limitTo:quantity">
                                        <td>{{data.moduleName}}</td>
                                        <td>{{data.sectionDetails.name}}</td>
                                        <td>
                                            <input type="checkbox" ng-model="addSectionData.id[data.sectionDetails._id]" />
                                        </td>
                                        <td>
                                            <input type="checkbox" ng-model="addSectionData.hidden[data.sectionDetails._id]" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="importSection()">Import Section</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="enrollStudent" class="collapse">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Enroll Students</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3 pull-right">
                            <label>Show</label>
                            <select ng-model="numLimit">
                                <div class="form-control input-sm">
                                    <option selected="selected" value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </div>
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" placeholder="Search " ng-model="searchStudent">
                        </div>
                    </div>
                    <hr>
                    <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%" class="posts">
                        <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>Student Login</th>
                                <th>Add/Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in studentsList | filter:searchStudent | orderBy:orderProp | limitTo:quantity">
                                <td>{{data.name}}</td>
                                <td>{{data.email}}</td>
                                <td>
                                    <a ng-if="data.enrolled == true " class="btn btn-danger btn-xs btn-space" ng-click="removeStudent(data._id)">Remove</a>
                                    <a ng-if="data.enrolled == false " class="btn btn-primary btn-xs btn-space" ng-click="enrollStudent(data._id)">Enroll</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Student View  -->
<div class="col-md-12" ng-if="loggedInUser.role == 'student'">
    <div ng-repeat="section in module.sections | orderBy:'locNum'">
        <div class="panel panel-primary" ng-if="!section.hidden">
            <div class="panel-heading">
                <h1 class="panel-title">{{section.sectionDetails.name}}</h1>
            </div>
            <div class="panel-body">{{section.sectionDetails.info}}
                <hr>
                <ul>
                    <div ng-repeat="file in section.sectionDetails.files | orderBy:'+name'">
                        <li>
                            <a href="/api/sections/downloadFile/{{file._id}}" download="{{file.orgName}}">
                                <img ng-src="./data/png/{{file.type}}.png" height="30px" /> {{file.orgName}} / {{file.hidden}}</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
